---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?GLOBAL-ID=EBAY-GB&OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=XML&REST-PAYLOADpaginationInput.entriesPerPage=6&SECURITY-APPNAME=AshPhyth-bayscrap-PRD-f2f5e2e0d-5d46c280&SERVICE-VERSION=1.0.0&keywords=zvex%20instant%20junky%20-power&siteid=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Guid:
      - 15794bf9-3540-a7ea-3380-42a0d8824de7
      X-Ebay-Request-Id:
      - 15794bf9-3540-a7ea-3380-42a0d8824de7!services.search.FindingService.v1!10.126.163.56!fndngesb[]
      X-Ebay-Soa-Global-Id:
      - EBAY-GB
      X-Ebay-Soa-Locale-List:
      - en-GB_GB
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Request-Id:
      - 15794bf9-3330-a7e3-80e7-37d7fd7e00a0
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '171755459'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.13.0
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByKeywordsResponse xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.13.0</version><timestamp>2016-10-05T12:09:25.727Z</timestamp><searchResult
        count="21"><item><itemId>131838114427</itemId><title>NEW ZVEX VEXTER SERIES
        INSTANT LO-FI JUNKY PEDAL FREE US SHIPPING</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>22669</categoryId><categoryName>Other
        Guitar Effects Pedals</categoryName></primaryCategory><galleryURL>http://thumbs4.ebaystatic.com/m/mRykYv4fMziGgMTeJadxLoQ/140.jpg</galleryURL><viewItemURL>http://www.ebay.co.uk/itm/NEW-ZVEX-VEXTER-SERIES-INSTANT-LO-FI-JUNKY-PEDAL-FREE-US-SHIPPING-/131838114427</viewItemURL><productId
        type="ReferenceID">133917328</productId><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>40351</postalCode><location>USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="GBP">15.38</shippingServiceCost><shippingType>FlatDomesticCalculatedInternational</shippingType><shipToLocations>Worldwide</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">239.0</currentPrice><convertedCurrentPrice currencyId="GBP">187.4</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P27DT11H58M11S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2016-06-05T00:07:36.000Z</startTime><endTime>2016-11-02T00:07:36.000Z</endTime><listingType>StoreInventory</listingType><gift>false</gift></listingInfo><condition><conditionId>1000</conditionId><conditionDisplayName>New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><topRatedListing>false</topRatedListing></item><item><itemId>232098608257</itemId><title>ZVEX
        Instant Lo-Fi Junky - Custom Hand Painted (1 of 1)</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>101973</categoryId><categoryName>Filter
        &amp; Modulation</categoryName></primaryCategory><galleryURL>http://thumbs2.ebaystatic.com/m/m1upRUkmPXZtjWlX47dZtqA/140.jpg</galleryURL><viewItemURL>http://www.ebay.co.uk/itm/ZVEX-Instant-Lo-Fi-Junky-Custom-Hand-Painted-1-1-/232098608257</viewItemURL>[...]
