---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?GLOBAL-ID=EBAY-GB&OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=XML&REST-PAYLOADpaginationInput.entriesPerPage=6&SECURITY-APPNAME=app_id&SERVICE-VERSION=1.0.0&keywords=Barbie%20%26%20Ken%27s%20Underwater%20Toaster%20&siteid=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Guid:
      - 1579f56f-0390-a629-63e4-b0c4d351834b
      X-Ebay-Request-Id:
      - 1579f56f-0390-a629-63e4-b0c4d351834b!services.search.FindingService.v1!10.98.150.62!fndngesb[]
      X-Ebay-Soa-Global-Id:
      - EBAY-GB
      X-Ebay-Soa-Locale-List:
      - en-GB_GB
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Request-Id:
      - 1579f56f-0390-a622-b7d3-e5b3ff2a77f9
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '163176548'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.13.0
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByKeywordsResponse xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.13.0</version><timestamp>2016-10-07T13:30:57.637Z</timestamp><searchResult
        count="0"/><paginationOutput><pageNumber>0</pageNumber><entriesPerPage>100</entriesPerPage><totalPages>0</totalPages><totalEntries>0</totalEntries></paginationOutput><itemSearchURL>http://www.ebay.co.uk/sch/i.html?_nkw=Barbie+%26+Ken%27s+Underwater+Toaster&amp;_ddo=1&amp;_ipg=100&amp;_pgn=1</itemSearchURL></findItemsByKeywordsResponse>
  recorded_at: Fri, 07 Oct 2016 13:30:57 GMT
recorded_with: VCR 3.0.3
