---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?GLOBAL-ID=EBAY-GB&OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=XML&REST-PAYLOADpaginationInput.entriesPerPage=6&SECURITY-APPNAME=AshPhyth-bayscrap-PRD-f2f5e2e0d-5d46c280&SERVICE-VERSION=1.0.0&keywords=zvex%20instant%20junky%20-power&siteid=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Guid:
      - 1579e6e8-8570-a7ea-3811-7b11e0432f17
      X-Ebay-Request-Id:
      - 1579e6e8-8570-a7ea-3811-7b11e0432f17!services.search.FindingService.v1!10.126.163.129!fndngesb[]
      X-Ebay-Soa-Global-Id:
      - EBAY-GB
      X-Ebay-Soa-Locale-List:
      - en-GB_GB
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Request-Id:
      - 1579e6e8-8140-a358-b6f4-9224ff6ae764
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '172218742'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.13.0
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByKeywordsResponse xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.13.0</version><timestamp>2016-10-07T09:17:06.624Z</timestamp><searchResult
        count="21"><item><itemId>141970336676</itemId><title>Z.VEX ZVex Effects Pedal,
        Vexter Instant Lo-Fi Junky, Brand New, Free Shipping </title><globalId>EBAY-US</globalId><primaryCategory><categoryId>22669</categoryId><categoryName>Other
        Guitar Effects Pedals</categoryName></primaryCategory><galleryURL>http://thumbs1.ebaystatic.com/m/mBFtN0zl0TIiKXzJg4FZbhA/140.jpg</galleryURL><viewItemURL>http://www.ebay.co.uk/itm/Z-VEX-ZVex-Effects-Pedal-Vexter-Instant-Lo-Fi-Junky-Brand-New-Free-Shipping-/141970336676</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>91775</postalCode><location>USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="GBP">15.77</shippingServiceCost><shippingType>Flat</shippingType><shipToLocations>Worldwide</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">215.1</currentPrice><convertedCurrentPrice currencyId="GBP">170.08</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P14DT8H34M12S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>true</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2016-04-24T17:51:18.000Z</startTime><endTime>2016-10-21T17:51:18.000Z</endTime><listingType>StoreInventory</listingType><gift>false</gift></listingInfo><condition><conditionId>1000</conditionId><conditionDisplayName>New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><topRatedListing>false</topRatedListing></item><item><itemId>131838114427</itemId><title>NEW
        ZVEX VEXTER SERIES INSTANT LO-FI JUNKY PEDAL FREE US SHIPPING</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>22669</categoryId><categoryName>Other
        Guitar Effects Pedals</categoryName></primaryCategory><galleryURL>http://thumbs4.ebaystatic.com/m/mRykYv4fMziGgMTeJadxLoQ/140.jpg</galleryURL><viewItemURL>http://www.ebay.co.uk/itm/NEW-ZVEX-VEXTER-SERIES-INSTANT-LO-FI-JUNKY-PEDAL-FREE-US-SHIPPI[...]
[...]
